<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Blog
              <!--  <small>Blog Homepage</small> -->
            </h1>
        <!--    <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Blog Home 2</li>
            </ol> -->
        </div>

    </div>

    <div class="row">

        <div class="col-md-1">
         <!--   <p><i class="fa fa-camera fa-4x"></i>
            </p> -->
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

         <!--   <p>May 24, 2013</p> -->
        </div>
        <div class="col-md-3">
            <a href="#/bpost1">
              <!--  <img src="http://placehold.it/600x300" class="img-responsive"> -->
              <img src="images/bpost1.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-8">
            <h3><b>Human trafficking and the role of the government in Assam</b>
            </h3>

            <p class="lead">Nayani Sharma | Cotton College State University</p>

            <p>Every year, thousands of men, women and children fall into the hands of traffickers, in their own countries and abroad. Almost every country in the world is affected by trafficking, whether as a country of origin, transit or destination for victims. Human Trafficking is a form of modern slavery where people profit from the control and exploitation of others. Exploitation includes, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs.</p>
            <br/>
            <a class="btn btn-primary" href="#/bpost1">READ MORE</a>
        </div>

    </div> 
    <br/>

   <hr>



   <div class="row">

        <div class="col-md-1">
         <!--   <p><i class="fa fa-camera fa-4x"></i>
            </p> -->
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

         <!--   <p>May 24, 2013</p> -->
        </div>
        <div class="col-md-3">
            <a href="#/bpost2">
              <!--  <img src="http://placehold.it/600x300" class="img-responsive"> -->
              <img src="images/bpost2.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-8">
            <h3><b>If you pray for a better world, then start from yourself!</b>
            </h3>

            <p class="lead">Sagar Garg | IIT Guwahati</p>

            <p>You earn well, dine and live well. You sleep soundly, dreaming of a better tomorrow, for yourself and hopefully for others too. You know it's a corrupt living, each day a race to score your dominion over another. You can see some are left way down on the ladder, but you possibly can't imagine their world. You got your own race to run. When you scroll through the violence of the world streaming live on your phone, sometimes you let out a silent prayer as well for those unfortunate. 'Someone should help them!', you murmur to know one. 'But what can I do?' And at this juncture, you pause but never stop. You know you mean well but are just helpless.</p>
            <br/>
            <a class="btn btn-primary" href="#/bpost2">READ MORE</a>
        </div>

    </div> 
    <br/>

   <hr>



   <div class="row">

        <div class="col-md-1">
         <!--   <p><i class="fa fa-camera fa-4x"></i>
            </p> -->
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

         <!--   <p>May 24, 2013</p> -->
        </div>
        <div class="col-md-3">
            <a href="#/bpost3">
              <!--  <img src="http://placehold.it/600x300" class="img-responsive"> -->
              <img src="images/bpost3.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-8">
            <h3><b>Am I really rescued?</b>
            </h3>

            <p class="lead">Harsha Sakshi | IIT Guwahati</p>

            <p>I had big dreams in life. A correction I still have big dreams, can’t I see them? Am I a less human today? Or am I some “impure girl” what the ladies in society call me? I know I have already lost the right to marry and live a respectable wedded life with two small kids playing in my drawing room. Ahh! Why do even I still remember that part of my dream? But I dreamt of being decorated with a maroon embroidered saree, colourful bangles and blushing smile.</p>
            <br/>
            <a class="btn btn-primary" href="#/bpost3">READ MORE</a>
        </div>

    </div> 
    <br/>

   <hr>


   <div class="row">

        <div class="col-md-1">
         <!--   <p><i class="fa fa-camera fa-4x"></i>
            </p> -->
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

         <!--   <p>May 24, 2013</p> -->
        </div>
        <div class="col-md-3">
            <a href="#/bpost4">
              <!--  <img src="http://placehold.it/600x300" class="img-responsive"> -->
              <img src="images/bpost4.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-8">
            <h3><b>अगर आप इसे पढ़ रहे हैं, तो आशा है आप इंसान होंगे</b>
            </h3>

            <p class="lead">Anikesh Kumar | IIT Guwahati</p>

            <p>अगर आप इसे पढ़ रहे हैं, तो आशा है आप इंसान होंगे - केवल नाम के नहीं बल्कि ज़ेहनी तौर पे | हम सब कि ज़िंदगियाँ बहुत तेज़ रफ़्तार से चल रही हैं पर हमें यदा-कदा थम के आस-पास देख लेना चाहिए - कहीं ये अंधाधुंध रफ़्तार हमारी नज़रअन्दाज़ी का सबब तो नहीं ! आपके घर में कोई छोटा बच्चा होगा- बेटा, भतीजा, भांजा; या कोई जवान लड़की - बहन, बेटी,भतीजी इत्यादि | फ़र्ज़ कीजिये की इनमें से कोई अचानक एक रोज़ आपकी पहुँच से परे चला जाए - क्या आप तब भी नहीं थमेंगे ?</p>
            <br/>
            <a class="btn btn-primary" href="#/bpost4">READ MORE</a>
        </div>

    </div> 
    <br/>

   <hr>
   <!--

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-film fa-4x"></i>
            </p>

            <p>May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
            </h3>

            <p>by <a href="#">Start Bootstrap</a>
            </p>

            <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are
                built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of
                the page.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
            </h3>

            <p>by <a href="#">Start Bootstrap</a>
            </p>

            <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are
                built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of
                the page.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div> -->

</div>
<!-- /.container -->