

<!-- /.section -->



    <div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Campaigns
                
            </h1>
            
        </div>

    </div>



        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <h3>Visit to rescued victims at an Orphanage</h3><br/>
                <p>Our vision began with the visit to rescued victims at Snehalaya, Guwahati. This was the first step which gained us an acquaintance with the real state both mental and emotional of the underprivileged children. An event which constituted of interaction with children victimised of different incidents through art and cultural activities, helped us discover a deeper insight of them.</p>
            </div>



<div class="col-lg-4 col-md-4 col-sm-4">
            <div id = "myCarousel1" class = "carousel slide">
   
            <!-- Carousel indicators -->
            <ol class = "carousel-indicators">
            <li data-target = "#myCarousel1" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel1" data-slide-to = "1"></li>
            </ol>   
   
            <!-- Carousel items -->
            <div class = "carousel-inner">
            <div class = "item active">
            <img src = "/images/c1b.jpg" >
            </div>
      
      
            <div class = "item">
            <img src = "/images/c1c.jpg">
            </div>
            </div>
   
            <!-- Carousel nav -->
            
   
            </div> 

            </div>







       <!--     <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-responsive" src="/images/c1.jpg">
            </div> -->
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <h3>Pardarshani art exhibition at IIT Guwahati</h3><br/>
                <p>The first fundraising event was organised during Advaya’15 in the form of an art exhibition-cum-sale. It showcased creations of some of the brilliantly talented artists of IIT Guwahati with a motive to contribute to our cause.</p>
            </div>



            <div class="col-lg-4 col-md-4 col-sm-4">
            <div id = "myCarousel2" class = "carousel slide">
   
            <!-- Carousel indicators -->
            <ol class = "carousel-indicators">
            <li data-target = "#myCarousel2" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel2" data-slide-to = "1"></li>
            </ol>   
   
            <!-- Carousel items -->
            <div class = "carousel-inner">
            <div class = "item active">
            <img src = "/images/c2a.jpg" >
            </div>
      
            <div class = "item">
            <img src = "/images/c2b.jpg">
            </div>
      

            </div>
   
            <!-- Carousel nav -->
            
   
            </div> 

            </div>



        </div>
        <hr>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <h3>Documentary Screening at IIT Guwahati</h3><br/>
                <p>With an ambition of learning causes, impact and other crucial factors involved in the web of human trafficking at a more detailed level documentary screening of a movie on Human Trafficking was organised. It was coupled with an interactive talk by Prof. Sawmya Ray with the Saarathi team and other interested individuals.</p>
            </div>




            <div class="col-lg-4 col-md-4 col-sm-4">
            <div id = "myCarousel" class = "carousel slide">
   
            <!-- Carousel indicators -->
            <ol class = "carousel-indicators">
            <li data-target = "#myCarousel3" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel3" data-slide-to = "1"></li>

            </ol>   
   
            <!-- Carousel items -->
            <div class = "carousel-inner">
            <div class = "item active">
            <img src = "/images/c3a.jpg" >
            </div>

            <div class = "item">
            <img src = "/images/c3b.jpg">
            </div>
      
            </div>
   
            <!-- Carousel nav -->
            
   
            </div> 

            </div>
        </div>

        <hr>



        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <h3>Oriental session at IIT Guwahati</h3><br/>
                <p>An oriental session for Saarathi as NGO organised to present the intricacy of human trafficking web and its present scenario in northeast region to the individuals at IIT Guwahati with an aim to awaken more people to raise voice and contribute towards its prevention.</p>
            </div>
            


            <div class="col-lg-4 col-md-4 col-sm-4">
            <div id = "myCarousel" class = "carousel slide">
   
            <!-- Carousel indicators -->
            <ol class = "carousel-indicators">
            <li data-target = "#myCarousel4" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel4" data-slide-to = "1"></li>
        
            </ol>   
   
            <!-- Carousel items -->
            <div class = "carousel-inner">
            <div class = "item active">
            <img src = "/images/c4a.jpg" >
            </div>
      
            <div class = "item">
            <img src = "/images/c4b.jpg">
            </div>
            </div>
   
            <!-- Carousel nav -->
            
   
            </div> 

            </div>
        </div>




    </div>
    <!-- /.container -->


<hr>
