<div class="container">

    <br/><br/>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <p class="lead"><b>Well, if you would like to join our cause, welcome!</b></p>
                </div>
                    
                    <ul class="list-group">
                    
                    <li class="list-group-item"><b>Advocacy</b><br/> You can suggest road maps for Saarathi organisation, build work strategies and chart directions for future, help and guide us in legal aspects.</li>
                    
                    <li class="list-group-item"><b>Research</b><br/>You can research about the status of Human Trafficking in India, investigate to find out stories and bring it to the attention of public.</li>
                    
                    <li class="list-group-item"><b>Finance</b><br/>You can assist the Finance team with fundraising ideas to strengthen the organisation, manage the current resources and help us in garnering more support.</li>
                    
                    <li class="list-group-item"><b>Networking and Publicity</b><br/>You can multiply Saarathi reach into various regions through campaigns. Help us in connecting to other NGOs, volunteer groups and government bodies for support.</li>
                    
                    <li class="list-group-item"><b>Design</b><br/> You can assist our team in designing awareness posters, developing blog posts and videos for campaigns.</li>
                
                </ul>
            </div>
        </div>

        

    </div>
    <br/><br/>

</div>
<!-- /.container -->

